/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Root Directory */
:root {
    --dark-text-color: #fff;
    --dark-back-color: #515A5A;
    --color-1 : #76448A;
    --color-2 : #1f618d;
    --color-3 : #148f77;
    --back-1 : #d7bde2;
    --back-2 : #7fb3d5;
    --back-3 : #73c6b6;

}

/* Universal Selector */
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    /* overflow-x: hidden; */
}
body {
    overflow-x: hidden;
}
/* ######## HOME #### */
.home {
    width: 100%;
    min-height: 100vh;
    /* background-color: rgba(red, green, blue, 1111); */
    /* background: linear-gradient(to bottom right, var(--back-1),#8E44AD); */
    /* background-color: var(---); */
}
.home header {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


/*########## Header ########## */
.container header {
    position: fixed;
    z-index: 5555;
}

/* ############# L I N K S ########### */
.home header .links {
    /* border: 2px solid green; */
    width: 200px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 10px 10px;
    /* background-color: rgba(25, 25, 25, .1); */
    background-color: #ECF0F1 ;
    box-shadow: 0px 0px 10px 1px rgb(184, 181, 181);
}
.home header .links i:hover {
    transform: scale(.9);
}
.fa-linkedin {
    color: #2867B2;
    background-color: #fff;
}
.fa-twitter {
    color: #1DA1F2;
}
.fa-stack-overflow {
    color: orange;
}
.fa-google-plus {
    color: red;
}






/* ###### DARK MODE ######## */

.home .dark {
    /* border: 1px solid #515A5A; */
    border-radius: 0 0 10px 10px;
    width: 220px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, .4);
    transition: all .3s ease;
    background-color: rgba(25, 25, 25, .1);
    position: relative;
}

.home .dark .btn-1 {
    width: 35px;
    height: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* position: absolute; */
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.home .dark .btn-1 i {
    background-color: #fff;
    color: #fff;
}
.home .dark .on {
    opacity: .5 ;
    padding: 2px;
    font-weight: 200;
}
.home .dark .off {
    opacity: 5 ;
    font-weight: 600;
    color: black;

}


/* ####### NAVIGATION BAR ###### */
.home nav {
    /* background-color: red; */
    width: 400px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 55555;
}
.home nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 10px 0 10px 0;
    /* border: 1px solid green; */
    background-color: rgba(28, 40, 51, 1);
    justify-content: space-around;
    align-items: center;
}

.home nav ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px 15px;
    line-height: 0px;
    font-weight: 600;
    color: #fff;
    transition: all .3s ease;
    border-radius: 0;
    display: inline-block;
    height: 30px;
}
[href="#home"] {
    background-color: rgba(28, 40, 51, 1);
    position: relative;
}
[href="#about"] {
    background-color: rgba(28, 40, 51, 1);
    position: relative;
}
[href="#contact-me"] {
    background-color: rgba(28, 40, 51, 1);
    position: relative;
}
[href="#home"]:hover , [href="#home"]:active {
    background-color: var(--color-1);
    border-radius: 10px 0 10px 0;
    /* line-height: 0px; */
}
[href="#about"]:hover, [href="#about"]:active {
    background-color: var(--color-2);
    border-radius: 10px;
    
}
[href="#contact-me"]:hover, [href="#contact-me"]:active {
    background-color: var(--color-3);
    border-radius: 10px 0 10px 0;
}




/* Main Section Of Home Page */
.container .home main {
    /* border: 1px solid red; */
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.container .home main .admin_pic {
    display: flex;
    justify-content: center;
    align-items: center;

}
.container .home main .admin_pic img {
    width: 200px;
    clip-path: circle(45% at 50% 50%);
    position: relative;
    z-index: 100;
}
/* Back-1 */
.container .home main .admin_pic::before {
    content: "";
    display: block;
    height: 400px;
    width: 300px;
    background-color: rgba(66,133,244, .5);
    position: absolute;
    top: 15%;
    left: 20%;
    clip-path: ellipse(50% 30% at 50% 50%);
    animation: back-1 5s linear infinite forwards;
    z-index: -1;
}
@keyframes back-1 {
    0% {
        top: 15%;
        left: 20%;
    }
    25% {
        top: 10%;
        left: 18%;
    }
    75% {
        top: 12%;
        left: 22%;
    }
    100% {
        top: 15%;
        left: 20%;
    }
    
}
/* Back-2 */
.container .home main::before {
    content: "";
    display: block;
    height: 250px;
    width: 250px;
    background-color: rgba(219,68,55, .2);
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: -1;
    clip-path: ellipse(40% 40% at 50% 50%);
    animation: back-2 5s linear infinite alternate;
}
@keyframes back-2 {
    0% {
        top: 5%;
        left: 5%;
    }
    25% {
        top: 10%;
        left: 3%;
    }
    75% {
        top: 12%;
        left: 10%;
    }
    100% {
        top: 8%;
        left: 15%;
    }
    
}
/* Back-3 */
.container .home main .admin_pic::after {
    content: "";
    display: block;
    height: 400px;
    width: 400px;
    background-color: rgba(15,157,88, .5);
    position: absolute;
    bottom: 10%;
    right: 30%;
    clip-path: ellipse(50% 50% at 50% 50%);
    animation: back-3 10s linear infinite alternate;
    transform: scale(1);
    z-index: -1;
    transition: all 1s ease;
}
@keyframes back-3 {
    0% {
        bottom: 10%;
        right: 30%;
        transform: scale(.90);
    }
    25% {
        bottom: 12%;
        right: 20%;
        transform: scale(.95);
    }
    75% {
        bottom: 14%;
        right: 10%;
        transform: scale(.95);
    }
    100% {
        bottom: 12%;
        right: 0%;
        transform: scale(1.1);
    }
    
}
/* Back-4 */
.container .home main::after {
    content: "";
    display: block;
    height: 300px;
    width: 300px;
    background-color: var(--color-1);
    opacity: .8;
    position: absolute;
    bottom: 10%;
    left: 5%;
    clip-path: ellipse(50% 50% at 50% 50%);
    animation: back-4 5s linear infinite alternate;
    z-index: -1;
}
@keyframes back-4 {
    0% {
        bottom: 5%;
        left: 10%;
    }
    25% {
        bottom: 2%;
        left: 8%;
    }
    75% {
        bottom: 1%;
        left: 6%;
    }
    100% {
        bottom: 6%;
        left: 20%;
    }
    
}



.container .home main .admin_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 50;  
}
.container .home main .admin_info h1 {
    font-size: 3rem;
    max-width: 400px;
    box-shadow: 2px -3px 5px .1px rgba(0, 0, 0, .5);
}

.container .home main .admin_info p {
    font-size: 2rem;
    font-weight: 500;
    max-width: 400px;
    font-family: sans-serif;
    box-shadow: 2px 3px 5px .1px rgba(0, 0, 0, .5);
}



/* ########## I N P U T ########### */
#dark-mode {
    display: none;
}
/* @@@@@@ DARK MODE BUTTON @@@@@ */
#dark-mode:checked ~ .container .home .dark {
    color: var(--dark-text-color);    
    background-color: var(--dark-back-color);
}

#dark-mode:checked ~ .container .home .dark .btn-1 {
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, .8);
}
#dark-mode:checked ~ .container .home .on {
    opacity: 1;
    font-weight: 600;
}
#dark-mode:checked ~ .container .home .dark .off {
    opacity: .5;
}
/*  @@@@@@ LINKS @@@@@ */
#dark-mode:checked ~ .container .home header .links {
    color: var(--dark-text-color);    
    background-color: var(--dark-back-color);
}
#dark-mode:checked ~ .container .home header .links i {
    color: var(--dark-text-color);    
    background-color: var(--dark-back-color);
}
#dark-mode:checked ~ .container {
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
}
#dark-mode:checked ~ .container .home main .admin_pic img{
    filter: brightness(70%);
}


/* About-me */
.about {
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    padding-top: 120px;
    display: grid;
    align-items: center;
    justify-items: center;
}
.about .main {
    /* border: 1px solid green; */
    /* background: linear-gradient(to bottom right, var(--color-2),var(--back-2)); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: center;
    height: 450px;
    width: 90%;
    border: .5px solid #ABB2B9;
    box-shadow: 0px 0px 5px 10px #F7F9F9;
    position: relative;
    border-radius: 25px;
    overflow-y: hidden;
    list-style-image: linear-gradient(to left bottom, red, blue);
    /* transition: all .1s ease; */
    /* color: #fff; */
}
.about .main:hover {
    box-shadow: 0 0 5px 1px rgb(180, 178, 178);
}
.about .main::before {
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 400px;
    background:rgba(15,157,88, .3);
    clip-path: ellipse(45% 40% at 30% 60%);
    z-index: -1;
}
.about .main .rfloat::before {
    content: "";
    display: block;
    position: absolute;
    top: 5%;
    left: 50%;
    width: 300px;
    height: 400px;
    background:rgba(15,157,88, .3);
    clip-path: ellipse(45% 40% at 30% 60%);
    z-index: -1;
}
.about .main::after {
    content: "";
    display: block;
    position: absolute;
    top: -50%;
    left: 50%;
    width: 300px;
    height: 400px;
    background:rgba(255,0,0, .3);
    clip-path: ellipse(45% 40% at 30% 60%);
    z-index: -1;
}
.about .main .lfloat::after {
    content: "";
    display: block;
    position: absolute;
    top: -50%;
    left: 0%;
    width: 300px;
    height: 400px;
    background:rgba(255,0,0, .3);
    clip-path: ellipse(45% 40% at 30% 60%);
    z-index: -1;
}



.about .main:hover {
    list-style-image: linear-gradient(to left bottom, blue, red);
}
.about .main div h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}
.about .main div h1:hover {
    /* background: orange; */
    color: orange;
}
.about .main div h2:hover {
    color: var(--color-1);
}
.about .main div ol li ul {
    list-style-image: url("https://img.icons8.com/fluent/16/4a90e2/long-arrow-right.png");
    padding-left: 25px;
    font-size: 18px;
}
.about .main div ol li ul:hover {
    color: #1DA1F2;
}


.about .main .lfloat {
    /* box-shadow: 0 0 5px 10px #ccc; */
    padding: 0px 0px 10px 40px;
    height: 300px;
    width: 100%;
    
}
.about .main .rfloat {
    /* box-shadow: 0 0 5px 10px #ccc; */
    padding: 10px 0 10px 35px;
    height: 300px;
    width: 100%;
}


/* ########### Contact Me #######  */
.contact-me {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.contact-me .main {
    /* border: 1px solid red; */
    height: 400px;
    width: 90%;
    margin-top:100px;
    border-radius: 25px;
    border: .5px solid #ABB2B9;
    box-shadow: 0px 0px 5px 10px #F7F9F9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    /* background: #E0F2F1; */
}
.contact-me .main:hover {
    box-shadow: 0 0 5px 1px rgb(180, 178, 178);
}
.contact-me .main address {
    font-size: 2rem;
}
.contact-me .main address .add-1 i {
    font-size: 3rem;
    color: #8E24AA;
}
#dark-mode:checked ~ .container .contact-me .main address .add-1 i{    
    color: #fff;
   }
   
.contact-me .main address .add-1 span {
    font-size: 3rem;
    color: #BA68C8;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    /* border-bottom: 5px solid var(--color-3); */
    /* border-right: 5px solid var(--color-3); */
    /* padding: 0px 10px 5px 0px; */
}
#dark-mode:checked ~ .container .contact-me .main address span{    
    color: #fff;
   }
   
.contact-me .main address .add-1{
    transform: scale(1);
    transition: all .3s ease-in-out;
    border-bottom:5px solid #AB47BC;
    width: fit-content;
}
#dark-mode:checked ~ .container .contact-me .main address .add-1{    
    border-bottom: 5px solid #fff;
   }
   
.contact-me .main address .add-1 i:hover {
    transform: scale(.90);
}


.contact-me .main .add-2 {
    font-size: 2rem;
    margin-top: 10px;
    font-weight: 500;
    color: #8E24AA;
   
}
#dark-mode:checked ~ .container .contact-me .main .add-2{    
    color: #fff;
   }
   
.contact-me .main .add-2  i{
    font-size: 2rem;
    color: #4A148C;
    transform: scale(1);
}
#dark-mode:checked ~ .container .contact-me .main .add-2 i{    
    color: #fff;
   }
.contact-me .main .add-2 i:hover {
    transform: scale(.9);
}

/*  ######  F O  R M ######## */
.contact-me .main form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 0 25px 25px 0;
    /* border: 1px solid red; */
    /* background: #E3F2FD; */
    background: #E1F5FE;
    padding: 20px 20px 20px 20px;
    color: #1565C0;
}
#dark-mode:checked ~ .container .contact-me .main form{    
    background-color: rgba(0, 0, 0, .5);
    color: #03e9f4;
   }
#dark-mode:checked ~ .container .contact-me .main form h1{    
    color: #03e9f4;
   }
#dark-mode:checked ~ .container .contact-me .main form #user-name{    
    color: #03e9f4;
    border-bottom: 2px solid #03e9f4;
   }
#dark-mode:checked ~ .container .contact-me .main form #text{    
    color: #03e9f4;
    border: 2px solid #03e9f4;
   }
.contact-me .main form h1 {
    font-size: 2.5rem;
}
#user-name {
    background: transparent;
    border: none;
    border-bottom: 2px solid #1565c0;
    /* border-radius: 25px; */
    width: 90%;
    padding-left: 5px;
    margin-top: 20px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    z-index: 50;
    /* border: none; */
}

#user-name:focus {
    /* border-bottom: 2px; */
    outline: none;
    color: #1565C0;
}
.user-name {
    position: relative;
    top: -30px;
    font-size: 20px;
    z-index: 0;
    left: 5px;
    transform: scale(1);
    transform-origin: bottom left;
    transition: all .3s ease-in-out;
}
#user-name:focus ~ .user-name
{
    top: -55px;
    font-weight: 600px;
    transform: scale(.9);
}
#text {
    background: transparent;
    border: 2px solid #1565C0;
    width: 90%;
    margin-top: 10px;
    padding-left: 5px;
    padding-top: 5px;
    font-weight: 700;
    color: #1565C0;
    font-size: 20px;
    position: relative;
    z-index: 555;
}
#text:focus {
    border: 2px solid #1565C0;
    outline: none;
}
#text:focus ~ .text {
    top: -165px;
    transform: scale(.9);
}
.text {
    position: relative;
    top: -130px;
    left: 5px;
    transition: all .3s ease;
    font-size: 20px;
    transform: scale(1);
    transform-origin: bottom left;
}

.contact-me form .submit input {
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #1565C0;
    font-weight: 700;
}
.contact-me form .submit input:hover {
    background-color: #1565C0;
    color: #fff ;
    
}
.contact-me form .submit:hover {
    box-shadow:
     0 0 5px #1565C0,
     0 0 25px #1565C0,
     0 0 50px #1565C0,
     0 0 100px #1565C0
     ;
}
#dark-mode:checked ~ .container .contact-me form .submit input:hover{    
    background-color: #03e9f4;
    color: #fff !important;
   }
#dark-mode:checked ~ .container .contact-me form .submit:hover{    
    box-shadow:
    0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4
    ;
   }
#dark-mode:checked ~ .container .contact-me .main form .submit input{    
    color: #03e9f4;
   }
.contact-me form .submit {
    position: relative;
    /* border: 1px solid red; */
    width: fit-content;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}
#dark-mode:checked ~ .container .contact-me .main form .submit span{    
    background-color: #03e9f4;
   }
.contact-me form .submit span:nth-child(1) {
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1565C0;
    transform: translateX(-100%);
    /* animation: anim-1 10s linear infinite; */
    /* animation: anim-1 2s linear infinite; */
    animation: anim-1 1s linear infinite;
}
@keyframes anim-1 {
    0% {
        transform: translateX(-100%);
    }
    50% , 100% {
        transform: translateX(100%);
    }
}

.contact-me form .submit span:nth-child(2) {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 38px;
    left: 0;
    background-color: #1565C0;
    transform: translateX(100%);
    /* animation: anim-3 10s linear 5s infinite; */
    /* animation: anim-3 2s linear 1s infinite; */
    animation: anim-3 1s linear .5s infinite;
}
@keyframes anim-3 {
    0% {
        transform: translateX(100%);
    }
    50% , 100% {
        transform: translateX(-100%);
    }
}


 .contact-me form .submit span:nth-child(3) {
    width: 2px;
    height: 100%;
    position: absolute;
    transform: rotate(180deg) translateY(-100%);
    background-color: #1565C0;
    /* animation: anim-4 10s linear 7.5s infinite; */
    /* animation: anim-4 2s linear 1.5s infinite; */
    animation: anim-4 1s linear .75s infinite;
}
@keyframes anim-4 {
    0% {
        transform:rotate(180deg) translateY(-100%);
    }
    50% , 100% {
        transform:rotate(180deg) translateY(100%);
    }
}
 .contact-me form .submit span:nth-child(4) {
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 98px;
    transform: rotate(180deg) translateY(100%);
    background-color: #1565C0;
    /* animation: anim-2 10s linear 2.5s infinite; */
    /* animation: anim-2 2s linear .5s infinite; */
    animation: anim-2 1s linear .25s infinite;
}
@keyframes anim-2 {
    0% {
        transform: rotate(180deg) translateY(100%);
    }
    50% , 100% {
        transform: rotate(180deg) translateY(-100%);
    }
}
